.inspiration{
  padding: 118px 0 120px;
  .inspiration__title{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    color: #692340;
  }
  .tips{
    max-width: 1235px;
    height: 507px;
    margin: 119px auto 0;
    .row{
      max-width: 1235px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .col-4{
        &.first{
          margin-right: 49px;
          .tips__subtitle{
            margin-top: 8px;
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 55px;
            color: #692340;
          }
          .tips__title{
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 27px;
            line-height: 30px;
            color: #692340;
            margin-bottom: 13px;
          }
          .tips__about{
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            color: #692340;
          }
        }
        &.second{
          margin-right: 92px;
          .tips__subtitle{
            margin-top: 8px;
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 55px;
            color: #692340;
          }
          .tips__title{
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 27px;
            line-height: 29px;
            color: #692340;
            margin-bottom: 21px;
          }
          .tips__about{
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            color: #692340;
          }
        }
        &.third{
          .tips__subtitle{
            margin-top: 8px;
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 55px;
            color: #692340;
          }
          .tips__title{
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 29px;
            color: #692340;
            margin-bottom: 21px;
          }
          .tips__about{
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            color: #692340;
          }
        }
      }
    }
  }
  .box__Btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1035px;
    height: 162px;
    margin: 54px auto 0;
    .row{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .col-6{
        width: 50%;
        &.first{
          .box__Btn_title{
            margin-bottom: 30px;
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            color: #692340;
          }
          .sb__Btn{
            width: 171px;
            height: 60px;
            border: 1px solid #692340;
            box-sizing: border-box;
            filter: drop-shadow(0px 0px 0px rgba(105, 35, 64, 0.4));
            border-radius: 0;
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #692340;
            padding: 20px 40px;
            margin: 0 195px 20px 152px;
          }
        }
        &.second{
          .box__Btn_title{
            padding: 0 120px 0 160px;
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            color: #692340;
          }
          .st__Btn{
            width: 149px;
            height: 60px;
            border: 1px solid #692340;
            box-sizing: border-box;
            filter: drop-shadow(0px 0px 0px rgba(105, 35, 64, 0.4));
            border-radius: 0;font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #692340;
            padding: 20px 40px;
            margin: 30px 156px 20px 204px;
          }
        }
      }
    }
  }
}