.inspiration {
  padding: 118px 0 120px;
}
.inspiration .inspiration__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  color: #692340;
}
.inspiration .tips {
  max-width: 1235px;
  height: 507px;
  margin: 119px auto 54px;
}
.inspiration .tips .row {
  max-width: 1235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.inspiration .tips .row .col-4.first {
  width: 385px;
  margin-right: 49px;
}
.inspiration .tips .row .col-4.first .tips__subtitle {
  margin-top: 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 55px;
  color: #692340;
  padding: 0;
}
.inspiration .tips .row .col-4.first .tips__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #692340;
  margin-bottom: 13px;
}
.inspiration .tips .row .col-4.first .tips__about {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #692340;
}
.inspiration .tips .row .col-4.second {
  width: 354px;
  margin-right: 92px;
}
.inspiration .tips .row .col-4.second .tips__subtitle {
  margin-top: 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 55px;
  color: #692340;
}
.inspiration .tips .row .col-4.second .tips__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 29px;
  color: #692340;
  margin-bottom: 21px;
}
.inspiration .tips .row .col-4.second .tips__about {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #692340;
}
.inspiration .tips .row .col-4.third {
  width: 354px;
}
.inspiration .tips .row .col-4.third .tips__subtitle {
  margin-top: 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 55px;
  color: #692340;
}
.inspiration .tips .row .col-4.third .tips__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 29px;
  color: #692340;
  margin-bottom: 21px;
  width: 356px;
}
.inspiration .tips .row .col-4.third .tips__about {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #692340;
}
.inspiration .box__Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1035px;
  height: 162px;
  margin: 0 auto 0;
}
.inspiration .box__Btn .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.inspiration .box__Btn .row .col-6 {
  width: 50%;
}
.inspiration .box__Btn .row .col-6.first .box__Btn_title {
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #692340;
}
.inspiration .box__Btn .row .col-6.first .sb__Btn {
  width: 171px;
  height: 60px;
  border: 1px solid #692340;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(105, 35, 64, 0.4));
          filter: drop-shadow(0px 0px 0px rgba(105, 35, 64, 0.4));
  border-radius: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #692340;
  padding: 20px 40px;
  margin: 0 195px 20px 152px;
}
.inspiration .box__Btn .row .col-6.second .box__Btn_title {
  padding: 0 120px 0 160px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #692340;
}
.inspiration .box__Btn .row .col-6.second .st__Btn {
  width: 149px;
  height: 60px;
  border: 1px solid #692340;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(105, 35, 64, 0.4));
          filter: drop-shadow(0px 0px 0px rgba(105, 35, 64, 0.4));
  border-radius: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #692340;
  padding: 20px 40px;
  margin: 30px 156px 20px 204px;
<<<<<<< HEAD
}
/*# sourceMappingURL=inspiration.css.map */
=======
}
>>>>>>> 3c48215748c38f2bb323c117dadecd9e6ec61de9
