.about{
  padding: 181px 0 72px;
  .about__block{
    .about__box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-width: 1035px;
      height: 434px;
      margin: 0 auto;
      &.first {
        height: 434px;
        .text-box {
          padding: 0 340px 211px 0;
          width: 695px;
          .about__title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 44px;
            color: #692340;
            width: 427px;
          }
          .about__subtitle {
            margin-top: 22px;
            margin-bottom: 13px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #692340;
            width: 429px;
          }
          .about__subtitle-text {
            margin-left: 15px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #692340;
          }
          .smb {
            margin-top: 16px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #692340;
            text-decoration: none;
          }
        }
        .box-img {
          position: relative;
          top: -80px;
        }
      }
      &.second {
        position: relative;
        height: 340px;
        margin-bottom: 134px;
        .text-box {
          padding: 0 340px 178px 0;
          width: 615px;
          height: 100%;
          .about__title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 44px;
            color: #692340;
            width: 457px;
            margin-top: 43px;
          }
          .about__subtitle {
            margin-top: 22px;
            margin-bottom: 13px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #692340;
            width: 456px;
            height: 65px;
          }
          .about__subtitle-text {
            margin-left: 15px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #692340;
            width: 367px;
            &:last-child{
              margin-bottom: 16px;
            }
          }
          .smb {
            margin-top: 16px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #692340;
            text-decoration: none;
          }
        }
        .box-img {
          position: relative;
          right: -40px;

        }
      }
      &.third {
        position: relative;
        height: 340px;
        .text-box {
          width: 615px;
          height: 100%;
          .about__title {
            font-family: Roboto,sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 44px;
            color: #692340;
            width: 421px;
            height: 44px;
          }
          .about__subtitle {
            margin-top: 22px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #692340;
            width: 464px;
            height: 44px;
            margin-bottom: 12px;
          }
          .about__subtitle-text {
            margin-left: 15px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #692340;
            width: 367px;
            &:last-child{
              margin-bottom: 16px;
            }
          }
          .smb {
            margin-top: 16px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #692340;
            text-decoration: none;
          }
        }
        .box-img {
          position: relative;
          right: -40px;
        }
      }
    }
  }
}