.account{
  padding: 160px 0 216px;
  background: #FBEECA;
  .account__title{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #692340;
    margin-bottom: 37px;
  }
  .account__subtitle{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #692340;
    margin-bottom: 27px;
  }
  .account__Btn{
    width: 231px;
    height: 60px;
    padding: 20px 40px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #692340;
    background: #FBEECA;
    border: 1px solid #692340;
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(105, 35, 64, 0.4);
    border-radius: 0;
    margin: 0 auto;
  }
}