.partnership{
  padding: 114px 0 120px;
  background: #692340;
  .partnership__title{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 74px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 1px;
    color: #FBEECA;
    margin-bottom: 36px;
  }
  .partnership__subtitle{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FBEECA;
    margin-bottom: 30px;
  }
  .partnership__Btn{
    width: 231px;
    height: 60px;
    padding: 20px 40px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #692340;
    background: #FBEECA;
    border: 1px solid #692340;
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(105, 35, 64, 0.4);
    border-radius: 0;
    margin: 0 42%;
  }
  .partnership__text{
    margin-top: 20px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FBEECA;
  }
}